<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <property name="log_dir" value="logs"/>
    <property name="default_log" value="${log_dir}/user-default"/>
    <property name="error_log" value="${log_dir}/user-error"/>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>
                %date{yyyy-MM-dd HH:mm:ss.SSS} [%X{X-B3-TraceId:-} %X{X-B3-SpanId:-}] [%thread] %highlight(%-5level) %cyan(%logger{15}) %method:%L - %highlight(%msg) %n
            </pattern>
        </encoder>
    </appender>

    <appender name="common-error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${error_log}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${error_log}.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <pattern>
                %date{yyyy-MM-dd HH:mm:ss.SSS} [%X{X-B3-TraceId:-} %X{X-B3-SpanId:-}] [%thread] %-5level %logger{36} %method:%L - %msg %n
            </pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="default" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${default_log}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${default_log}.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>168</maxHistory>
            <totalSizeCap>80GB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <pattern>
                %date{yyyy-MM-dd HH:mm:ss.SSS} [%X{X-B3-TraceId:-} %X{X-B3-SpanId:-}] [%thread] %-5level %logger{36} %method:%L - %msg %n
            </pattern>
        </encoder>
    </appender>


    <!-- 异步输出 -->
    <appender name="async-default" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
        <discardingThreshold>0</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <!--https://logback.qos.ch/manual/appenders.html#AsyncAppender-->
        <queueSize>512</queueSize>
        <!-- 添加附加的appender,最多只能添加一个 -->
        <appender-ref ref="default"/>
        <includeCallerData>true</includeCallerData>
    </appender>

    <!-- ROOT -->
    <root level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="async-default"/>
        <appender-ref ref="common-error"/>
    </root>

</configuration>
